@inject PlayerCardState PlayerCardState
@inject LinesCurrentState LinesCurrentState
@inject LinesClickState LinesClickState
@inject LinesIdleState LinesIdleState
@inject Formatter Formatter
@implements IDisposable

<div class="playercard" @onclick="ShowModal">
  <div class="player-icon" style="background-image:url(@PlayerCardState.PlayerIcon)"></div>
  <div class="player-info">
    <div class="player-name">
      <span>@PlayerCardState.Playername</span>
    </div>
    <div class="stats-container">
      <span>has written @(Formatter.FormatNum(LinesCurrentState.LinesCurrent)) Lines of Code</span>
      <span>(@(Formatter.FormatNum(LinesIdleState.LinesIdle)) LoC/sec)</span>
    </div>
  </div>
</div>

@("Modal.Show<EditProfile>(\"Edit Playercard\", options);")

@code {
  [CascadingParameter] public IModalService Modal { get; set; } = default!;
  void ShowModal() => Modal.Show<EditProfile>("Edit Playercard");
  
  protected override void OnInitialized()
  {
    LinesCurrentState.OnChange += LogAndUpdate;
    AddLinesIdle();
  }

  Timer? timer = default;

  private void LogAndUpdate()
  {
    //Console.WriteLine($"Lines: {LinesCurrentState.LinesCurrent}");
    StateHasChanged();
  }

  private void AddLinesIdle()
  {
    timer = new Timer(new TimerCallback(_ =>
    {
      LinesCurrentState.LinesCurrent += LinesIdleState.LinesIdle / 10;
    }), null, 100, 100);
  }

  void IDisposable.Dispose()
  {
    LinesCurrentState.OnChange -= LogAndUpdate;
  }

}