@inject UpgradesState UpgradesState

<div class="upgrades-container">
  <div class="heading">Upgrades</div>

  @foreach (var upgrade in UpgradesState.upgrades) 
  {
    if (upgrade.Type == "Idle") {
      <div class="upgrade idle">
        <div class="upgrade-icon">
          <img src="@upgrade.Icon" alt="@upgrade.Name"/>
        </div>
        <div class="upgrade-info">
          <div class="upgrade-name">
            <span>@upgrade.Name</span>
            <span>Lvl. @upgrade.Level</span>
          </div>
          <span class="upgrade-description">@upgrade.Description</span>
          <span class="upgrade-effect">Effect: +@upgrade.Effect LoC per second</span>
          <span class="upgrade-cost">Cost: Deletes @upgrade.Cost LoC</span>
        </div>
      </div>
    } else if (upgrade.Type == "Click") {
      <div class="upgrade click">
        <div class="upgrade-icon">
          <img src="@upgrade.Icon" alt="@upgrade.Name"/>
        </div>
        <div class="upgrade-info">
          <div class="upgrade-name">
            <span>@upgrade.Name</span>
            <span>Lvl. @upgrade.Level</span>
          </div>
          <span class="upgrade-description">@upgrade.Description</span>
          <span class="upgrade-effect">Effect: +@upgrade.Effect LoC per click</span>
          <span class="upgrade-cost">Cost: Deletes @upgrade.Cost LoC</span>
        </div>
      </div>
    }
  }
</div>